<phpunit bootstrap="tests/unit-tests/bootstrap.php">
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>tests/unit-tests</directory>
		</testsuite>
		<testsuite name="Integration Tests">
			<directory>tests/integration-tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/elasticsearch</directory>
			<directory suffix=".php">wp/admin</directory>
			<directory suffix=".php">wp/theme</directory>
		</whitelist>
	</filter>
</phpunit>
